body{
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	font-size: 18px;
	width: 960px;
	margin: 0 auto; margin-top: 10px;
}
header{
	background-color: #ebebeb;
	color: #777;
	height: 100px;
	margin-bottom: 10px;


}
nav{
	background-color: #ebebeb;
	color: #777;
	height: 100px;
	margin-bottom: 20px;


}
section{
	background-color: #ebebeb;
	color: #777;
	height: 200px;
	width: 60%;
	display: inline-block;

}
aside{
	background-color: #ebebeb;
	color: #777;
	float: right;
	height: 200px;
	width: 38%;


}
footer{
	background-color: #ebebeb;
	color: #777;
	margin-top: 15px;
	width: 960px;

}
article{
	color: #ebebeb;
	background-color: #777;
	position: relative; 
	width: 60%;

}
#h1